.user-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 2px solid lightblue;
    width: 50%;
}
.user-image {
    display: flex;
    align-items: center;
}
.container {
    display: flex;
}